.tags {
  display: flex;
  gap: var(--space-md);
}

.tag {
  background-color: var(--100);
  border-radius: var(--radius-sm);
  line-height: var(--solid);
  padding: var(--space-sm) var(--space-md);
}
